<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
		<link rel="stylesheet" href="static/css/numpad.css">
	</head>

	<body>
		<div class="numpad_grid">
			<button type="button" class="numpad" value="1">1</button>
			<button type="button" class="numpad" value="2">2</button>
			<button type="button" class="numpad" value="3">3</button>
			<button type="button" class="numpad" value="4">4</button>
			<button type="button" class="numpad" value="5">5</button>
			<button type="button" class="numpad" value="6">6</button>
			<button type="button" class="numpad" value="7">7</button>
			<button type="button" class="numpad" value="8">8</button>
			<button type="button" class="numpad" value="9">9</button>
			<button type="button" class="numpad" value="backspace"><i style="pointer-events: none;" class="bi bi-backspace"></i></button>
			<button type="button" class="numpad" value="0">0</button>
			</button>
		</div>
	</body>

	<script src="static/js/numpad.js"></script>

</html>