* {
	font-family: "SourceSans3";
}

window {
	background-color: #ffffff;
}

.title {
	font-size: 32px;
	font-weight: bold;

	padding-top: 58px;
	padding-bottom: 58px;

	color: #111827;
}

.folder-button {
	min-width: 250px;

	background: #f3f4f6;

	font-size: 24px;
	font-weight: 600;
	color: #111827;
	
	padding: 16px;
	padding-left: 20px;
	padding-right: 20px;
	
	border-radius: 8px;
	border: 1px solid #d1d5db;
	box-shadow: none;
}
