{% extends "base.html" %}

{% block script %}
<script src="/static/js/popup.js"></script>
{% endblock %}

{% block content %}
<div class="m-auto max-w-6xl px-10">
    <form action="/item" method="post">
        <div class="mt-10 flex justify-center items-center">
            <h1 class="font-bold text-3xl text-gray-800">Page not Found</h1>
        </div>
        <div class="flex flex-col justify-center items-center mt-20 gap-10">
            <div class="text-2xl text-gray-800">
                <a class="bg-white px-2 py-1 border-radius rounded border border-gray-400 font-bold text-gray-800" href="{{ url_for('main.index') }}">Click here</a> to return to the main screen
            </div>
            <h3 class="text-xl text-gray-600">Please contact the administrator if this error persists</h3>
        </div>
    </form>
</div>
{% endblock %}