{% extends "base.html" %}

{% block script %}
    <script src="/static/js/popup.js"></script>
{% endblock %}

{% block content %}

<form action="/" method="post">
    <div style="display:none; z-index:200" class="fixed w-screen h-screen z-10 flex justify-center items-center" id="popup">
        <div style="width:30rem" class="bg-white rounded-xl p-10 border border-gray-400 flex flex-col mb-64 shadow-xl" >
            <h3 class="text-center">Are you sure you want reload all congregation files? (this may take a while)</h3>
            <div class="flex gap-10 justify-center items-center mt-5">
                <button 
                    type="submit" 
                    name="reset"
                    id="reset"
                    style="background-color:#ecfeff; color:#38bdf8; border-color:#bae6fd;" 
                    class="focus:outline-none border font-bold px-4 py-2 rounded-md"
                    onclick="showLoad(id);"
                >
                    Yes
                </button>
                
                <button 
                    type="button" 
                    class="text-red-400 focus:outline-none border border-red-200 bg-red-100 font-bold px-4 py-2 rounded-md" 
                    onclick="clearPopup()"
                >
                    No
                </button>
            </div>
        </div>
    </div>

    <div class="m-auto max-w-6xl px-10 relative">     
        <div class=" mt-0 mr-auto absolute ">
            <button type="button" id="reset" name="reset" style="display:block" onclick="showPopup();" class="focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="w-12 h-12 text-gray-800 cursor-pointer hover:text-black" fill="currentColor">
                    <path fill-rule="evenodd" d="M15.312 11.424a5.5 5.5 0 01-9.201 2.466l-.312-.311h2.433a.75.75 0 000-1.5H3.989a.75.75 0 00-.75.75v4.242a.75.75 0 001.5 0v-2.43l.31.31a7 7 0 0011.712-3.138.75.75 0 00-1.449-.39zm1.23-3.723a.75.75 0 00.219-.53V2.929a.75.75 0 00-1.5 0V5.36l-.31-.31A7 7 0 003.239 8.188a.75.75 0 101.448.389A5.5 5.5 0 0113.89 6.11l.311.31h-2.432a.75.75 0 000 1.5h4.243a.75.75 0 00.53-.219z" clip-rule="evenodd" />
                </svg>   
            </button>
        </div>
        
        <div class="mt-10 flex justify-center items-center">
            <h1 class="font-bold text-3xl text-gray-800">Notice Board</h1>
        </div>
        
        <div class="grid mt-20 grid-cols-3 items-center gap-10">
        {% for folder in folders %}
            <button onclick="showLoad(id)" id={{folder}} style="z-index:100" type="submit" class="bg-white focus:outline-none h-32 flex items-end rounded-xl border-gray-400 border cursor-pointer text-gray-800 font-bold text-xl p-5" name="{{folder}}"><h3>{{folder}}</h3></button>
        {% endfor %}
        </div>
    </div>
</form>
{% endblock %}