.loading {
    opacity: 0;
    display:flex;
    position:absolute;
    z-index: 1;
    top:50px;
    right:50px;
}

.loading::after{
    content:"";
    width:45px;
    height:45px;
    border: 5px solid rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-left-color: #000000;
    
    border-radius:50%;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}