<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Notice Board</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="/static/css/globals.css">
		<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
	</head>

	{% block head %}{% endblock %}

	<style>
		@keyframes loading {
			to {
				transform: rotate(1turn);
			}
		}
	</style>
	
	<body>	
	    {% block content %}{% endblock %}
	</body>

	<script src="/static/js/loading.js"></script>
    {% block script %}{% endblock %}
</html>